* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    font-size: 20px;
    line-height: 1.5em;
    background-color: #7395AE;

}
#zawartosc {
    margin-left: auto;
    margin-right: auto;
    background-color: #557A95;
    width: 80%; 
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
    border: #5D5C61 solid 5px;
    border-radius: 10px;
}
header h1 {
    color: #FFF;
    font-size: 40PX;
    padding: 20px;
    border-bottom: 3px solid #5D5C61;
}
#eventy {
    background-color: #B1A296;
    width: 90%;
    margin: 40px auto;
    overflow: auto;
}

.tekst {
    display: grid;
    grid-auto-flow: column;
    color: #FFF;
    font-size: 45px;
    font-weight: bold;
}

.tekst.b {
    display: justify;
    justify-content: flex-end;
}

.event {
    text-shadow:
    -1px -1px 3px #000,
    1px -1px 3px #000,
    -1px 1px 3px #000,
    1px 1px 3px #000;  
    padding: 25px 15px 15px 15px;
    margin: 5px;
    border: 1px solid #5D5C61;
    line-height: 50px;
}

.event.done {
    background-color: #00ff00;
    /*#99ff99 - event completed*/
    /*#ff9999 - event after deadline*/
}

.event.notdone {
    background-color: #ff0000;
    /*#99ff99 - event completed*/
    /*#ff9999 - event after deadline*/
}
.event:hover {
    text-shadow:
    -1px -1px 5px #000,
    1px -1px 5px #000,
    -1px 1px 5px #000,
    1px 1px 5px #000; 
    font-size: 20px;
}
#formularz {
    width: 90%;
    margin: 40px auto;
}

#textArea{
    padding: 5px;
    border: 1px solid #5D5C61;
}

::-webkit-input-placeholder {
    text-align: left;
}
  
  :-moz-placeholder {
    text-align: left;
}

#btn0 {
    margin: 5px auto;
    padding: 10px;
    height: 40px;
    width: auto;
    border: 3px solid #5D5C61;
}
#btn0:hover {
    border: 3px solid black;
    cursor: pointer;
}

.formLabel {
    font-size: 25px;
    font-weight: bold;
    text-shadow:
    -1px -1px 3px #000,
    1px -1px 3px #000,
    -1px 1px 3px #000,
    1px 1px 3px #000;  
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #5D5C61;
    color: white;
    text-align: center;
}






